<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
<listener class-name="com.digitalbanking.listeners.ExtentRepListeners"/>


</listeners>
 
	
	<test  name="Register page test">
    <classes>
      <class name="com.digitalbanking.tests.RegisterPageTest"/>
    </classes>
  </test> <!-- Test -->
  
  
	<test  name="NewCheckingAccountPage page test">
    <classes>
      <class name="com.digitalbanking.tests.NewCheckingAccountPageTest"/>
    </classes>
  </test> <!-- Test -->
  
  
	<test  name="NewSavingAccount page test">
    <classes>
      <class name="com.digitalbanking.tests.NewSavingAccountPageTest"/>
    </classes>
  </test> <!-- Test -->
  
  
	<test  name="WithdrawPage page test">
    <classes>
      <class name="com.digitalbanking.tests.WithdrawPageTest"/>
    </classes>
  </test> <!-- Test -->
  
  
	<test  name="LoginTest page test">
    <classes>
      <class name="com.digitalbanking.tests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
  
  
	<test  name="DepositPage page test">
    <classes>
      <class name="com.digitalbanking.tests.DepositPageTest"/>
    </classes>
  </test> <!-- Test -->
  
  
	<test  name="TransferMoney page test">
    <classes>
      <class name="com.digitalbanking.tests.TransferMoneyPageTest"/>
    </classes>
  </test> <!-- Test -->
  
  
	<test  name="HomePage page test">
    <classes>
      <class name="com.digitalbanking.tests.HomePageTest"/>
    </classes>
  </test> <!-- Test -->

  
  
  <!-- <test thread-count="5" name="Test">
    <classes>
      <class name="com.digitalbanking.tests.RegisterPageTest"/>
      <class name="com.digitalbanking.tests.NewCheckingAccountPageTest"/>
      <class name="com.digitalbanking.tests.NewSavingAccountPageTest"/>
      <class name="com.digitalbanking.base.BaseTest"/>
      <class name="com.digitalbanking.tests.WithdrawPageTest"/>
      <class name="com.digitalbanking.tests.LoginTest"/>
      <class name="com.digitalbanking.tests.DepositPageTest"/>
      <class name="com.digitalbanking.tests.TransferMoneyPageTest"/>
      <class name="com.digitalbanking.tests.HomePageTest"/>
    </classes>
  </test> Test -->
</suite> <!-- Suite -->
